*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    overflow: hidden;
}

#right{
    background:#FBE8B6;
    width:40%;
    height:100%;
    float: left;
    position: relative;
    padding-right: 60px;
}
#left{
    background-color: #FBC50B;
    padding: 60px;
    height: 100%;
    width: 60%;   
    float: left;
    position: relative;
    justify-items: center;
}

#info{
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-family: "Poppins", sans-serif;
    & h4 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 12px;
        font-weight: 700;
    }
    & h1{
        font-size: 120px;
        font-weight: 800;
        margin-left: -10px;
    }
    & p{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        width: 400px;
        text-align: left;
    }

    & #date{
        margin-top: 20px;
      & hr{
        width: 30px;
        color: black;
        background-color: black;
        border-color: black;
        float: left;
        margin-top:15px;
      }   
      & p{
        margin-left: 40px;
        font-size: 20px;
        font-weight: bold;

      }
    }
}
#title{
    position: absolute;
    top: 30px;
    left:60px;
    width: 200px;
}

#menu{
    position: absolute;
    width: 44px;
    top: 30px;
    right: 60px;
}

#pokeball{
    position: absolute;
    width:300px;
    bottom: -85px;
    left: 60px;
}

#pokemon{
    position: absolute;
    left: 45%;
    top: 10%;
    width: 700px;
}


#dots{
    position: absolute;
    top: 50%;
    right: 50px;
    justify-items: center;
}

#black_dot{
    height:16px;
    width:16px;
    background-color: black;
    border-radius: 50%;
}

.yellow_dots{
    height:12px;
    width:12px;
    margin-top: 10px;
    background-color: #F9C30F;
    border-radius: 50%;
}
